[2014-04-16 06:56] parkerault opened #1 "Pipe-ing a pre-browserified test from gulp.src throws `TypeError('first argument must be a string or Buffer')`"
Using "browserify": "~3.33.1", "tape-run": "~0.1.1", when piped through browserify the tests run successfully:

[code]

However, if I browserify the tests, then pipe the browserified js from `gulp.src`:

[code]

I get this stack trace:

[code]

Running the browserified file with the cli works: `tape-run < ./public/js/test.js`

[2014-04-16 07:50] #1 closed, assigned to nobody

[2014-06-16 14:53] bclinkinbeard opened #2 "Error with browserify 4.1.9 and tape-run 0.1.1"
Using the sample code from the readme, to just try this lib out, I get an error. Running

[code]

with `browserify test/*.js | tape-run` produces

[code]

[2014-06-16 15:01] #2 closed, assigned to nobody

[2014-08-12 14:56] pdehaan opened #3 "Update browserify and browser-run deps"
It looks like earlier versions of **browserify** (<=4.2.0) included a potentially vulnerable version of the **syntax-error** module ([see advisory](https://nodesecurity.io/advisories/syntax-error-potential-script-injection)).
### Steps to reproduce:

[code]

You'll also need to bump the version of browser-run up to your shiny new **browser-run@0.4.0** which includes the browserify fix there (julia

[2014-08-13 08:50] #3 closed, assigned to nobody

[2015-01-27 07:59] lakenen opened #5 "tape-run does not work on travis ci"
When trying to run my tests on travis ci, I keep getting this error about firefox, even though I request `phantom` as the browser. My tests run just fine locally.

[code]

See the full log here: https://travis-ci.org/lakenen/wrap-range-text/builds/48451040

Any idea what's going on here? Is tape-run not supported on travis ci? FWIW I get a similar error when using testling (which also runs fine lo

[2015-01-27 13:53] juliangruber commented on #5
hhmmm @substack do you have any experience running browser-launcher on travis?

[2015-02-06 11:56] tomekwi commented on #5
@juliangruber Travis has issued a guide about [headless browser testing](http://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-PhantomJS).

It looks as if they have phantom exposed as `phantomjs` in the PATH. How about a CLI option like `--browser-binary` which would override browser-launcher and spawn the command instead? Just an idea.

[2015-02-06 14:18] juliangruber commented on #5
that would work but isn't a good solution, browser-launcher should support that

[2015-02-07 01:10] tomekwi commented on #5
Well, what when someone installs their browser in a non-standard location, or sandboxed somehow, or whatever-else-the-reason-browser-launcher-wont-work? I don't know the inner workings of browser-launcher, but I doubt it can cover every case and every browser in the world.

Just my 2c to keep the discussion going :)

[2015-02-07 02:22] binarykitchen commented on #5
Hmmm, I am having the same issue here as @lakenen has experienced and would welcome a solution that will work with Travis.

Why can't we introduce a new option to pass on the phantomjs executable? Like that we can pass on the phantomjs PATH from Travis.

[2015-02-07 06:47] juliangruber commented on #5
can you confirm that the name of the binary is the problem?

[2015-02-07 10:16] tomekwi commented on #5
I can only confirm that the error message I'm seeing looks exactly like that of @lakenen. It looks as if browser-launcher can't detect PhantomJS and tries to fall back to Firefox – which fails because it can't display its window.

For reference: https://travis-ci.org/tomekwi/mithril-n/builds/49787722

[2015-02-07 11:02] juliangruber commented on #5
looks like browser-launcher expects the bin to be called `phantom`: https://github.com/substack/browser-launcher/blob/master/lib/detect.js#L26

[2015-02-07 11:03] juliangruber commented on #5
correction, it's phantomjs: https://github.com/substack/browser-launcher/blob/master/lib/detect.js#L59

[2015-02-07 11:04] juliangruber commented on #5
can someone do `phantomjs --version` on a travis box?

[2015-02-07 11:19] tomekwi commented on #5
https://travis-ci.org/tomekwi/phantom-test/builds/49847713

[2015-02-09 17:08] juliangruber commented on #5
i tried to ssh into a travis box but either i didn't find that feature or it never existed. looks like we could use one of their vagrant boxes to evaluate this

[2015-03-09 23:33] tomekwi commented on #5
@juliangruber looks like Travis has deprecated their Vagrant boxes: https://github.com/travis-ci/travis-boxes .

As for browser-launcher, I've tried to [make it list available browsers and their paths](https://github.com/tomekwi/phantom-test/blob/master/launcher.js). It errors at that point and quits: https://travis-ci.org/tomekwi/phantom-test/builds/53730516 .

[2015-03-09 23:44] tomekwi commented on #5
So yeah, it is a bug in browser-launcher after all. The problem is, [it doesn't seem](https://github.com/substack/browser-launcher/issues) [to be actively maintained](https://github.com/substack/browser-launcher/pulls) anymore.

There is a fork called [browser-launcher2](https://github.com/benderjs/browser-launcher2). No idea how reliable it is – but at least there are signs of life in the repo :)

[2015-03-24 09:05] juliangruber commented on #5
yisssss [![build status](https://secure.travis-ci.org/juliangruber/tape-run.svg)](http://travis-ci.org/juliangruber/tape-run)

fixed by https://github.com/juliangruber/browser-run/commit/e7cb6f533c55e5d74a3e633f9369d2d16d9fd798

[2015-03-24 10:35] tomekwi commented on #5
Great, thanks man! :beers:

Can't wait to test it out – I hope I'll manage today.

[2015-03-24 21:31] lakenen commented on #5
Thanks! Nice work!

[2015-03-25 21:56] tomekwi commented on #5
Works like a charm. Thanks again!

[2015-06-10 16:08] matiasdecarli commented on #2
Im having this error. @bclinkinbeard could you please tell me more about what was causing your error? (in case you remember, of course)

[2015-06-22 21:46] daliwali commented on #5
Issue janitor here. If this issue is resolved, I guess it can be closed. Or does it still not work on Travis CI?

[2015-06-22 22:08] tomekwi commented on #5
I’ve had no problems

[2015-06-22 22:36] #5 closed

[2015-06-22 22:36] juliangruber commented on #5
yaaaaaaay

[2015-06-23 06:39] tomekwi commented on #5
:+1: :+1: :+1:

[2015-07-30 19:40] jaredly opened #6 "[feature request] add a "timeout waiting for js" option"
If browserify has an error and the js doesn't get piped in, everything just hangs...

Example:

[code]

It would be nice to have a configurable timeout on that.

[2015-07-31 10:10] #6 closed

[2015-07-31 10:11] juliangruber commented on #6
I found a better solution: When no javascript is written to it, an error is thrown. In the example above, there's only the warning printed to stderr, but stdout is empty.

Starting at version `1.1.0`, this will happen:

[code]

[2015-08-24 23:24] mcabrams opened #7 "Allow HTML file to be used as the page template"
Any chance of implementing a parameter for an HTML file that can be used as a page template?

[2015-08-24 23:54] mcabrams opened #8 "Allow HTML file to be used as the page template"
Any chance of implementing a parameter for an HTML file that can be used as a page template?

[2015-08-25 07:41] juliangruber commented on #8
closing as duplicate of #7

[2015-08-25 07:41] #8 closed

[2015-08-25 07:42] juliangruber commented on #7
This template is currently being served: https://github.com/juliangruber/browser-run/blob/master/static/index.html. A custom template would need to fetch `/reporter.js` and `/bundle.js` as well. Maybe you could get away with doing `document.body.innerHTML = ...` at the beginning of your tests? Otherwise, yeah, we can add a parameter for this.

[2015-08-26 10:42] 0x8890 opened #9 "Package name is too specific"
I use `tape-run` for running tests in a browser using my own test harness called `tapdance` which emits TAP, and it works flawlessly.

https://github.com/fortunejs/fortune/blob/master/package.json#L30
https://github.com/fortunejs/fortune/blob/master/test/browser.js

[2015-08-26 11:22] juliangruber commented on #9
do you have a suggestion? `tap-run` wouldn't imply that it's for browsers, and i have `browser-run` already.

[2015-08-26 11:59] 0x8890 commented on #9
Maybe `tap-browser-run` since those are the keywords I searched for to find this module.

[2015-09-08 12:32] fatuhoku opened #10 "How do I re-run tape tests whenever files change?"

[2015-09-08 15:06] juliangruber commented on #10
you could use something like https://www.npmjs.com/package/watch for that:

[code]

please reopen if that doesn't work for you and you need a more "native" solution

[2015-09-08 15:06] #10 closed

[2015-10-21 06:03] juliangruber opened #15 "builds failing"

[2015-10-30 15:47] #15 closed

[2015-10-31 12:38] juliangruber opened #21 "add --render parameter"
because if you do

[code]

you won't get the correct exit code. Better:

[code]

[2015-10-31 13:11] #21 closed

[2015-12-02 09:36] rtsao opened #23 "Error: Not running"
I'm using `tape-run` programmatically with electron like so:

[code]

The tests run properly and the output is fine, but afterwards an error is thrown:

[code]

Wrapping `node_modules/browser-run/index.js:97` in a try/catch fixes the issue. But it seems hacky and I'd rather not use a fork.

It's possible I'm doing something wrong but I'm not sure what.

[2015-12-02 10:42] juliangruber commented on #23
that's fixed in browser-run@3.0.5, if you reinstall this module you should get the fixed version of browser-run as well. feel free to reopen if this problem still exists.

[2015-12-02 10:42] #23 closed

[2016-01-09 17:27] rstacruz opened #27 "Uncaught errors will cause tape-run to exit successfully"
Consider this test:

[code]

Running this through `tape-run` like so will cause it to succeed.

[code]

[2016-01-09 17:34] juliangruber commented on #27
i can reproduce, working on it

[2016-01-09 19:16] juliangruber commented on #27
needs to be merged: https://github.com/substack/tap-finished/pull/6

[2016-01-09 19:26] juliangruber commented on #27
published a temporary fix as 2.1.1, until tap-finished is fixed

[2016-01-24 04:03] rtsao opened #31 "istanbul coverage"
It would be nice to be able to extract test coverage information.

The way I've started to implement this (in https://github.com/rtsao/tape-run/tree/coverage and  https://github.com/rtsao/browser-run/tree/messages) is as follows:

1) Add a generic duplex stream between `browser-run` and the browser using https://github.com/substack/shoe

2) In `tape-run`, prepend input test source with a script th

[2016-01-24 16:14] juliangruber commented on #31
it might not be easy to do with istanbul, but it is using coverify:

[code]

[2016-01-24 16:14] #31 closed

[2016-01-24 16:14] juliangruber commented on #31
feel free to reopen if you have further concerns

[2016-01-27 04:10] fraserxu opened #32 "Add example to use tape-run on any Linux environment"
Hi @juliangruber I'm trying to use tape-run as a light-weight testing running environment for my [react-testing-recipes](https://github.com/fraserxu/react-testing-recipes#to-run-your-test-in-the-browser-with-tape-run) repo here.

One thing I've noticed is that the setup only works on Mac but not Linux, I saw you have a section to demo how to use it with [travis](https://github.com/juliangruber/tap

[2016-01-27 08:54] juliangruber commented on #32
It _should_ work out of the box when your linux installation has some kind of graphical environment running. I'll add a link to your machine and some generic linux instructions to the readme.

[2016-01-27 09:00] #32 closed

[2016-04-09 01:09] unional commented on #27
Related to this. I am running `npm test`, where:
[code]
[code]
and the return is 0.

What should I do to get it to return error?

[2016-04-09 20:28] juliangruber commented on #27
that should work:

[code]

[2016-04-09 20:33] unional commented on #27
Thank!

[2016-04-10 06:05] unional commented on #27
I changed it a bit to:
[code]
so that the summary will sent to `tapSpec()`. :smile:

[2016-04-11 02:34] davelandry opened #35 "support for rollup bundler"
I've been experimenting using [rollup](https://github.com/rollup/rollup) to bundle my code instead of browserify, but I can't get it working with tape-run! Has anyone else tried this?

[2016-04-11 09:37] juliangruber commented on #35
can you post what you did to try out?

[2016-04-13 02:38] davelandry commented on #35
I created a stripped down environment for my test. Here's what needs to be installed:
[code]

Here's my sample test file, `test.js`:
[code]

Here's the configuration for rollup, saved as `rollup.config.js`:
[code]

And finally, the script used to run everything:
[code]

I get the following error:
[code]

[2016-04-13 11:28] juliangruber commented on #35
Does this work? `cat build.js | node`

[2016-04-14 18:50] unional opened #36 "Missing stack trace"
Running with:
- tape-run@2.1.3
- blue-tap@0.2.0 -> tape@4.5.1

Output:
[code]
It should be pointing to the test:
[code]
Don't know if it is related to https://github.com/systemjs/builder/issues/547 or an issue with `tape`

[2016-04-15 09:48] juliangruber commented on #36
can you post a snippet that i can run, to try this out?

[2016-04-16 22:09] davelandry commented on #35
Good call, doesn't work. I get this error:
[code]
Seems like an error with my bundler, probably the plugins.

[2016-05-02 16:40] lzrski commented on #6
Hey, thanks for tape-run. I'm switching from Mocha to Tape and your tools are really cool to work with.

To the point. I have encountered this `javascript required` error few times already and did not understood what what it meant until I found this by pure chance while browsing the issues. I think the error message could be more verbose, something like:

[code]

[2016-05-08 20:41] juliangruber commented on #6
hey @lzrski, that's a great suggestion, would you mind making a pull request with this change? :)

[2016-06-18 00:39] binarykitchen opened #38 "Does the wait option really work?"
Running some longer tests here interacting with DOM stuff and would like to add a timeout. But looks like it does not work

`browserify test/**/*.test.js | tape-run --wait=10`

Tests usually take 2 seconds but with the above, they don't timeout.

[2016-06-18 00:45] binarykitchen opened #39 "console.log in code does not appear in tape output"
When I add a `console.log('something')` in the code I am testing with tape-run, that output is not shown. Any ideas why?

[2016-06-18 00:47] binarykitchen opened #40 "No source map support?"
With the browserify command, all gets bundled and in case of an error, it does not point to the correct line number of the source code. Is there a trick to make this happen?

[2016-06-22 11:56] juliangruber commented on #36
closing for lack of interest

[2016-06-22 11:56] #36 closed

[2016-06-22 11:56] #9 closed

[2016-06-22 11:58] #7 closed

[2016-06-22 11:58] juliangruber opened #42 "add option for .type from browser-run"
so people can submit their own .html file to be used

[2016-06-22 12:21] vvo opened #43 "exit code is 1"
Using latest tape-run, simple test, node v5.11.0, have you seen anything like that?

[2016-06-22 12:28] vvo commented on #43
seems to be an electron issue, maybe an uncaught exception occured in the browser, even if all tests passed, weird!

[2016-06-22 12:33] vvo commented on #43
still getting the error, here: https://github.com/substack/insert-css/pull/2

[2016-06-22 12:34] vvo commented on #43
As soon as I do any DOM manipulation, seems to get the error. simple t.ok(true) works

[2016-06-22 14:12] juliangruber commented on #43
can you give me a gist that reproduces the problem?

[2016-06-22 14:15] juliangruber commented on #39
it works for me, can you give me a gist to reproduce?

[2016-06-22 14:15] juliangruber commented on #38
can you give me a script to reproduce? i haven't had this problem yet

[2016-06-22 14:40] vvo commented on #43
Oh my bad, I had a console.log('ok') somewhere in my code, thus triggering a bad parsing of the tape output. I am so dumb. Thanks

[2016-06-22 14:40] #43 closed

[2016-06-22 14:43] juliangruber commented on #43
things like that happen, don't worry :)

[2016-06-22 16:25] unional commented on #36
@juliangruber sorry for not getting back to this. Somehow it fall through the cracks. It is still happening and I think it is due to `tape` itself rather than `tape-run`. The same occurs as I run it through `karma`. 🌷

[2016-06-22 21:38] binarykitchen commented on #38
false alarm, works for me now. had a wrong setup. sorry

[2016-06-22 21:38] #38 closed

[2016-07-04 23:30] bendrucker commented on #31
For anyone using Istanbul I made [tape-istanbul](https://github.com/bendrucker/tape-istanbul). The example references tape-run but it'll work for anything where you pipe in code and get back console logs as stdout. substack's method in coverify for wrapping code in coverage functions and then extracting coverage data streamingly is a lot more clever. The only reason I made an Istanbul utility is t

[2016-07-05 10:26] juliangruber commented on #31
fyi the above would work with node as well:

[code]

good to know about tape-istanbul though!

[2016-08-22 08:30] barneycarroll opened #45 "More explicit wording in Travis config documentation"
Hiya, I read the README and [the part about how to get Electron working in Travis](https://github.com/juliangruber/tape-run#headless-testing), but didn't grok that AFAICT this is imperative for getting tape-run to work with Travis at all. At the moment it reads more like an aside for technically-minded people who may have their own esoteric reasons for preferring Electron to Phantom, and it still

[2016-08-22 19:46] juliangruber commented on #45
thank you for reporting this issue, and explaining so well :)

how is this? https://github.com/juliangruber/tape-run/blob/master/README.md

[2016-08-23 06:42] barneycarroll commented on #45
WFM! +1

[2016-08-23 16:32] #45 closed

[2016-09-05 20:37] Thomasvdam commented on #35
Did you ever get this to work? I'm trying this out at the moment but I keep getting issues with bundling my test file. I use the following build config (which I got to after some trial and error with the excludes), but now it won't require 'fs' properly and this breaks the output. Any tips would be appreciated. :)

[code]

[2016-09-05 21:46] davelandry commented on #35
@thomasvdan unfortunately no, every time I feel like I get past one error message another pops up. Have tried both through CLI and JavaScript APIs in a Node environment.

[2016-09-06 22:05] Thomasvdam commented on #35
@davelandry I managed to get a bundle to run through node and tape-run with a lot of hacking, but maybe someone smarter than me can figure out what is going wrong in the build process.

First off mangled Tape by changing [this](https://github.com/substack/tape/blob/master/lib/default_stream.js#L2) line to `var fs = {}`, which makes the bundle compile albeit with a some complaints about cyclical de

[2016-10-20 14:37] codeofsumit opened #46 "How to use with gulp and pretty reporters?"
This is my test task in gulp

[code]

How can I pipe that through a pretty reporter like faucet?
https://github.com/substack/faucet

[2016-10-27 09:39] juliangruber commented on #46
try

[code]

[2016-12-07 08:30] binarykitchen opened #48 "No error output when running tests through tape-run"
Unit tests of my npm library https://github.com/binarykitchen/videomail-client fail on travis ci each time (https://travis-ci.org/binarykitchen/videomail-client) and there's not much information why.

Also have asked a dev from travis to reproduce this on a docker image. Here the Gist log
https://gist.github.com/BanzaiMan/0450b14967f6677a68f253781586a058

Doesn't say much either. Is tape-run someh

[2016-12-07 11:41] juliangruber commented on #48
does this happen without the tap-spec reporter too?

[2016-12-08 06:28] binarykitchen commented on #48
hmmm, behaviour is same with or without tap-spec.

and funnily, since i switched to nodejs v7.2.1 here, i can reproduce this on my machine too, not just on travis

failing videomail-client test output:
https://gist.github.com/binarykitchen/2ec3308335e94dbd6f6494b3cc5dac60

and its npm-debug.log
https://gist.github.com/binarykitchen/c502561b8ea72fe8b05e404a3c003744

why does it abort in the middle

[2016-12-08 06:31] binarykitchen commented on #48
ah, there are some bugs in my code :)

weird they didn't show up under node v6.3.1 earlier

[2016-12-08 10:17] juliangruber commented on #48
maybe there's still something we can do here in order not to swallow those. can you show me what exactly caused it?

[2016-12-09 23:42] binarykitchen commented on #48
I think it was an undefined variable that tore down the whole unit test process:

[code]

err was `undefined` due to a bug inside my code I just fixed.

But my point is, tape-run shouldn't crash and be somewhat safe and at least print an error.

Maybe a try-catch block wrapping the test fn would solve this? cc @juliangruber

[2017-02-08 03:47] yoshuawuyts opened #53 "Can't install offline"
https://github.com/juliangruber/tape-run/blob/master/package.json#L20 means `--cache-min Infinity` freezes. Any chance you could publish https://github.com/substack/tap-finished/pull/6 as `@juliangruber/tap-finished` and update it here? Would allow for better offline hacking timeee :sparkles: Thanks!

[2017-02-08 07:37] #53 closed

[2017-02-08 07:37] juliangruber commented on #53
sure thing!

[2017-02-08 12:20] yoshuawuyts commented on #53
Awesome, thanks! :D

On Wed, Feb 8, 2017 at 8:37 AM Julian Gruber <notifications@github.com>
wrote:

[2017-02-08 18:49] jgallen23 opened #54 "can't install tape-run"
[code]

[2017-02-08 19:05] juliangruber commented on #54
weird, it works for me with the same node and npm versions. If anything, this looks like an npm bug. Please reopen there https://github.com/npm/npm/issues

[2017-02-08 19:06] juliangruber commented on #54
until then, `tape-run@2.1.5` should still work

[2017-02-08 19:08] jgallen23 commented on #54
it happens with `tape-run@2.1.5` even after a cache clean

[2017-02-08 23:21] jgallen23 commented on #54
I am also getting this inside travis. https://travis-ci.org/firstandthird/domodule/jobs/199583760

[2017-02-08 23:26] juliangruber commented on #54
Hm, it can't be happening with tape-run@2.1.5 really, as that didn't have "@juliangruber/tap-finished" in there

[2017-02-08 23:27] juliangruber commented on #54
i see the error on travis though..

[2017-02-08 23:34] juliangruber commented on #54
still must be an npm issue, tape-run@2.1.5 was _not_ using the scoped packages dependency

[2017-02-08 23:34] #54 closed

[2017-02-08 23:39] jgallen23 commented on #54
the problem is that 2.1.5 references https://github.com/juliangruber/tap-finished/tarball/throw which has an npm package name of @juliangruber/tap-finished

[2017-02-08 23:42] jgallen23 commented on #54
we are just going to update all of our packages to 2.1.6, just wanted to give you a heads up in case other people have the issue

[2017-02-08 23:49] juliangruber commented on #54
aaaah oh ok i get it now! thanks, will fix

[2017-02-09 14:33] RCasatta opened #55 "Option to keep the browser open for debugging"
After running:
`browserify test.js | tape-run -b chrome | faucet`
I have some failed test, I think could be interesting to have an option to keep the process active and the browser open to use the browser debugging tools to investigate the error, something like
`browserify test.js | tape-run -b chrome --keepopen | faucet`

[2017-02-09 18:57] juliangruber commented on #55
sounds useful to me, and only would need not to call this: https://github.com/juliangruber/tape-run/blob/master/index.js#L17

do you want to make a pull request for this? and maybe let's rename the cli flag, like `--keep-open`

[2017-02-09 22:57] RCasatta commented on #55
I made this https://github.com/juliangruber/tape-run/pull/56
but I am sorry I have some problems with child-kill module inside the tape-run project so I did not properly test the commit

[2017-02-10 15:25] #55 closed

[2017-02-10 16:10] RCasatta commented on #55
it works and the browser doesn't close.
The problem is that I cannot put a breakpoint and refresh the page cause the process serving the page from localhost is finished.
Is it possible to keep the server open until the browser is open?

[2017-02-12 14:12] juliangruber commented on #55
looking at the code, the server _should_ stay open actually. can you look into this further? eg find out where the process exits?

[2017-02-13 18:57] RCasatta commented on #55
I cannot figure out where the process exits.
But you can emulate it by running  `browserify test.js | tape-run` where test.js is:
[code]

I noticed that you can emulate the desired behaviour by adding at the end of browserify a test which does not call `test.end()`
eg:
`browserify test/*.js test/debug/test-with-no-end.js | tape-run -b chrome`

[2017-03-09 17:02] davelandry opened #58 "tape-run emitting an HTML file in root"
Thanks for such a great package! Just upgraded to v3, and whenever I run my tests it produces a file in my root directory that looks like this:
[code]
Which contains the compiled code with the HTML wrap. Here is the command that I'm running:
[code]
Tests run/exit correctly, but is there any way to not create this file? For now I can just remove them manually (new one is created with the current Da

[2017-03-09 17:18] juliangruber commented on #58
i should have fixed this in electron-stream (a dependency), can you update your tape-run and tell me if this still happens?

[2017-03-09 17:41] davelandry commented on #58
perfect, works great!

just curious, I see that it still makes the temporary file (and then immediately deletes it). did it always do that or did something change?

[2017-03-09 19:12] davelandry commented on #58
@juliangruber also, it seems that the file doesn't get deleted if the tests fail

[2017-03-11 22:27] binarykitchen opened #59 "Weird SyntaxError when using electron"
[code]

But does not happen when using `--browser chrome`. How can I investigate the cause best or it is a known Electron issue?

[2017-03-13 05:02] juliangruber commented on #59
Hey, can you upload the file the browserify command outputs?

[2017-03-13 05:02] juliangruber commented on #59
You can also send it to me via mail privately (julian@juliangruber.com) if that's an option

[2017-03-13 05:04] juliangruber commented on #58
You're right that this behavior is new. I needed to add those in order to add `--node` support for electron. Electron's cwd only seems to be set directly if you invoke it with `$ electron script.js`.

Oh, I'll look into it.

[2017-03-13 05:10] juliangruber commented on #58
if you reinstall browser-run, and so get the latest electron-stream as well, this shouldn't be an issue any more.

Tested with

[code]

[2017-03-13 05:10] #58 closed

[2017-03-13 06:08] binarykitchen commented on #59
@juliangruber easy to reproduce. just git clone https://github.com/binarykitchen/videomail-client and then run `npm i && npm run test` ... curious here what you will find

[2017-03-13 14:53] davelandry commented on #58
@juliangruber thanks for the fast turn-around!

[2017-03-14 07:13] juliangruber commented on #59
Oh, yeah, dang, will get a fix out this week!

[2017-03-16 18:48] juliangruber commented on #59
The issue starts with this line: https://github.com/bfred-it/iphone-inline-video/blob/master/index.js#L9

Without the proper encoding it seems, browsers will not parse this. Should have a fix soon!

[2017-03-16 18:52] juliangruber commented on #59
fixed in electron-stream, with a fresh installation of tape-run you should also get that. otherwise, clear your cache and try again :)

[2017-03-17 05:46] binarykitchen commented on #59
yep indeed, it's fixed now. thanks dude

[2017-03-24 18:35] juanpabloaj opened #60 "how can I include a js file?"
If I have this javascript file

[code]

and this test file

[code]

How can I include `hello.js` when I use `tape-run`? something like

     browserify  test/*.js hello.js | tape-run

[2017-03-25 13:48] juliangruber commented on #60
you can use node's require system for this :)

[code]
[code]

Feel free to open more issues with more questions :)

[2017-03-25 13:48] #60 closed

[2017-03-25 13:58] juanpabloaj commented on #60
thanks @juliangruber.

but I can't modify `hello.js`, I can't convert `hello.js` in a nodejs module.

[2017-03-25 14:19] juliangruber commented on #60
ah, I understand. This should be what you're looking for then: https://github.com/thlorenz/browserify-shim

[2017-03-25 20:27] juanpabloaj commented on #60
Thanks @juliangruber I tried with `browserify-shim`, but with this I can't use coverify ( https://github.com/substack/coverify/issues/25 )

[2017-03-25 23:39] juanpabloaj commented on #60
the other issue with browserify-shim is browserify-shim is only capable of handling one export per module (https://github.com/thlorenz/browserify-shim/issues/228)

[2017-03-26 13:33] juliangruber commented on #60
what about this, with the files as you first posted them:

[code]

[2017-03-26 17:29] juanpabloaj commented on #60
thanks @juliangruber this way I can run the test

     cat hello.js <(browserify test/*.js) | tape-run

[2017-03-26 17:43] juanpabloaj commented on #60
The only issue with this way is coverify only see the code generated by browserify

If I have a new javascript file with a new function called `bye`

[code]

And I use the previous test file, coverify don't see than `bye` is never called

[code]

[2017-03-26 18:53] juliangruber commented on #60
ok, this is a browserify issue then though. please open an issue there :)

[2017-03-26 18:53] juliangruber commented on #60
(or with coverify)

[2017-03-26 19:29] juanpabloaj commented on #60
Ok Julian , thanks a lot for your help.
El El dom, 26 de mar. de 2017 a las 15:53, Julian Gruber <
notifications@github.com> escribió:

--
JuanPablo AJ
juanpabloaj.com

[2017-04-03 14:59] lorenzofox3 commented on #35
I have created [zora](https://github.com/lorenzofox3/zora) with that in mind (no dependency to core node modules) which I use instead of tape and I have not bumped into any error so far

[2017-04-03 15:38] juliangruber commented on #35
awesome!

[2017-04-12 02:02] nedkelly commented on #58
Hey there,

I've just installed a project of my own that was previously working with no problem running `tape-run@2.1.4` only to now find that I can no longer successfully run tests with tape-run. I've since followed directions as outlined in numerous issue reports in regards to upgrading and cleaning node cache but with no success.

I have the same issue as raised by @davelandry where tape-run cr

[2017-04-12 15:46] juliangruber commented on #58
I've finally rolled out a patch for electron-run that makes it use the `file://` protocol only for `opts.node === true`, otherwise it's back to good old `http://`.

Does this fix your problem?

For the `.source*` files, I know it's annoying, but maybe you can simply add them to your `.gitignore` for now?

[2017-04-12 22:29] nedkelly commented on #58
Legend,

this now works as expected (I assume you meant electron-stream? Which is now @5.0.3).

As for the `.source.` files, these are not really bothering me, I can ignore them and run a cleanup task as part of my workflow so no biggie.

Thanks for the quick response.

[2017-04-22 21:54] marlun commented on #59
I'm getting this now with Node 7.9.0 and tape-run 3.0.0 and browserify 14.3.0. Running `browserify test.js | tape-run`.

[2017-04-23 17:18] juliangruber commented on #59
@marlun can you link me to the source or a reproducable example?

[2017-04-29 06:51] tunnckoCore commented on #59
I also have same issue. It appears when using `tape-run` and also `browser-run`. I'm not using `browserify`, but Rollup. And the bundle is perfectly valid javascript compiled to 0.10 that runs with raw `node test.js` without problems, code is StandardJS-ed and Prettier-ed.

[2017-04-29 16:54] juliangruber commented on #59
@tunnckoCore can you show me the output for `node dist/bundled-test.js | tape-run --browser electron` too?

[2017-04-29 17:34] tunnckoCore commented on #59
@juliangruber nothing. Should manually terminate it and shows me popup window that "main process is .. something", but not always, very strange.

I'll post when I get it again.

[2017-04-29 17:36] tunnckoCore commented on #59
hm.. my fault, that was for something other :D

[code]

[2017-04-29 18:24] juliangruber commented on #59
try `tape-run --node`, that enables `require()` support. otherwise it will need to be handled by your bundler

[2017-04-29 18:31] tunnckoCore commented on #59
Huh. Yea that way works, didn't notice that flag.

But yea, in anyway it seems that it's not package for my case.

[2017-04-29 18:50] juliangruber commented on #59
ok

[2017-04-29 18:50] #59 closed

[2017-06-29 08:47] bsuh opened #61 "Inconsistent environments for `tape-run` and `tape-run -p`"
In my opinion the environment between `tape-run` and `tape-run -p` should be as close as possible. Yet, running with `-p` introduces stuff like source-map-support. This can be confusing as to why source maps might work with `-p` but not headless electron.

[2017-06-29 09:44] juliangruber commented on #61
I agree, this is confusing, and ideally electron would have source map support too

[2017-07-06 00:45] timwis opened #62 "window.location.search goes wild"
Hey, I think I've come upon some peculiar functionality...

[code]
And running with:
[code]
Somehow it's run 6 times in the console.

[code]
(I only pasted 2 for brevity)

Odd, right? If you comment out the line setting `search` it works as expected.

EDIT: Seems to occur when setting `window.location.pathname` too

[2017-07-06 06:41] juliangruber commented on #62
Try setting the search param in chrome, and you'll find that the page reloads - that's exactly what's happening when doing so in tape-run, as it's running a real browser.

I would suggest if you test a library that reads `window.location`, to allow for specific parameters to be passed in as arguments as well.

Does that make sense?

[2017-07-06 15:32] timwis commented on #62
That makes sense, but still not sure why it would run 6 times. I'm writing higher level tests for choo, so not sure I can break these down further but I'll take a look. Thanks for replying.

[2017-07-07 07:20] juliangruber commented on #62
yeah why it's exactly `6` times also isn't clear to me, it should instead run forever

[2017-07-07 07:24] juliangruber commented on #62
you can't overwrite window.location...I looked at the tests of page.js [here](https://github.com/visionmedia/page.js/blob/master/test/tests.js) and they don't navigate away from the current page. You _could_ use webdriver + electron (spectron) for this however!

[2017-07-09 09:36] binarykitchen opened #63 "Doesn't say much upon errors"
[code]

Using your latest version here. What can I change to get more information on the error? Doesn't tape-run have additional parameters for that? Or can you add a debug mode or so?

[2017-07-09 10:33] juliangruber commented on #63
is this code already on github? it's easier for me to debug when i can run it myself

but yeah i agree we should be more helpful here

[2017-07-09 10:45] binarykitchen commented on #63
yep, `git clone https://github.com/binarykitchen/videomail-client`, `npm install` and then do a `npm test` @juliangruber

[2017-07-09 16:07] juliangruber commented on #63
look at the generated bundle, it starts with non js.

You're right though still that we could be more helpful, this is what node shows:

[code]

[2017-07-09 16:08] juliangruber commented on #63
why babel does that i don't know, but that's not this package's fault

[2017-07-09 21:30] binarykitchen commented on #63
ok, i will take this to them from here. for now, can you improve the error handling for this package, so that this stack trace is shown?

[2017-07-10 09:23] juliangruber commented on #63
it now shows you where the error is

[2017-07-10 09:23] #63 closed

[2017-07-10 10:49] binarykitchen commented on #63
right, thx

[2017-08-17 09:56] syarul opened #64 "support for other bundler webpack and rollup"
test ```cat dist/build.js | tape-run``` failed with webpack. The stream freeze once inside ```@juliangruber/tap-finished```.

ref issue #35

[2017-08-18 06:43] syarul commented on #64
closing the issue, since tape-run does work with webpack just need to add
[code]

[2017-08-18 06:43] #64 closed

[2017-08-18 16:57] syarul opened #65 "webpack-tape-run"
Just for heads-up and thanks for the awesome project, I'll already port it to webpack as plugin.

[webpack-tape-run](https://github.com/syarul/webpack-tape-run)

#64

[2017-08-18 17:42] juliangruber commented on #65
thank you a lot :) https://github.com/juliangruber/tape-run/commit/e6ea66cebd093d8e2a6b817f488b73514bce7e12

[2017-08-18 17:42] #65 closed

[2017-08-18 17:42] juliangruber commented on #64
https://github.com/juliangruber/tape-run/commit/e6ea66cebd093d8e2a6b817f488b73514bce7e12

[2017-08-18 17:42] juliangruber commented on #35
we have a webpack plugin now! https://github.com/juliangruber/tape-run/commit/e6ea66cebd093d8e2a6b817f488b73514bce7e12

[2017-08-29 22:38] mintchaos opened #66 "`</script>` tags inside the JS input causing errors."
So our testing bundle ends up having a few script tags that we write to the page. To test other bits that read from those script elements. Those are in our test code as strings. such as `'<script type="text/json" name="capabilities"></script>'`.

This causes browsers to throw errors when run through tape-run because the bundle is shoved into a script tag and browsers (electron in particular) get m

[2017-08-30 07:12] juliangruber commented on #66
Sourcing them bundle from a file seems like a safe way to approach this, yeah!

Currently i'm not having this issue myself though so i can't justify working on it. However, to whom is interested, the main point of interest is this: https://github.com/juliangruber/electron-stream/blob/master/index.js#L82-L100.

All the other browsers should work already (right?)

[2017-09-08 03:31] #66 closed

[2017-09-15 04:09] syarul commented on #40
I don't think this is the issue with tape-run, it's the issue of ```tape``` which don't [ as yet?] support source mapping regardless of compiler (browerify/webpack/rollup)

[2017-09-20 00:22] binarykitchen commented on #48
@juliangruber happening again here - any news on this one?

[2017-09-20 00:43] binarykitchen commented on #48
ummm, looks like the other lib, tape-catch, is the solution. i think this functionality should be in tape core.

[2017-11-30 23:09] axelpale opened #67 "How to resize the browser window"
I am developing a zoomable user interface library. Its headless tape-run test suite needs an **ability to set window size** to test how the lib behaves with windows of different sizes. However, tape-run does not provide options to specify the size. So how to overcome this?

The default windows size for `phantomjs` seems to be 400, 300 and for `electron` it is 800, 578. There is a JS method [window

[2017-12-01 09:08] juliangruber commented on #67
try running adding the `--node` flag to tape-run, that should give you access to the `electron` module. hopefully that works!

[2017-12-01 10:07] axelpale commented on #67
@juliangruber Thanks for the tip! I got it working with the following configuration:

**webpack.test.js:**

[code]

**smoke.test.js:**

[code]

The beef seems to be
- enable `window.require` by setting `node: true`. The `window.require` will be resolved by the browser, not by webpack.
- mock `fs` to avoid webpack throwing error about missing `fs` at `require('tape')`
- import electron by `window.r

[2017-12-01 10:07] #67 closed

[2017-12-01 10:53] axelpale commented on #67
Additional note: resize takes a bit longer within tests, 100 ms was too quick. To protect arbitrary delays breaking the test suite, one can listen for 'resize' event:

[code]

[2017-12-02 12:59] axelpale opened #68 "How to reset browser window state between tests?"
Currently, a change in DOM at test 1 is still remains at test 2. In other words, **the state of the browser is shared** between test cases, which is something people try to avoid in unit tests. Is there **a best practice to reset browser state** between cases when using tape-run?

An obvious approach is to implement a setUp and tearDown routines into the test suite that **try** to undo all the cha

[2017-12-02 16:16] axelpale opened #69 "Weird static files behaviour with and without --port"
Consider a test suite `test/static.test.js` below. It contains single test case where a static image is fetched and response headers and body inspected.

[code]

Assume `test/assets/image.png` is a valid PNG image. Let us run the suite. Output indicates that the response contains a HTML document and not a trace of `image.png`:

[code]

However, if we replace `--static test/assets` flag with `--por

[2017-12-02 18:42] axelpale commented on #69
Additional note: running without any flags produces a result similar to `--static test/assets`:

[code]

[2017-12-04 11:03] juliangruber commented on #68
This is just as with node, all tests run in the same process so you need to prevent state collisions yourself.

We could implement something like this, however it requires that every single test case needs to be placed in its own file.

I think what would suit your demands better were if `test('name', fn)` would itself launch a new browser instance. Currently the way this module works is all tests

[2017-12-04 11:29] axelpale commented on #68
Thanks for the clarification. Now I see that each case should have its own browser instance. For now, I curried the `test('name', fn)` to reset DOM and some other browser state variables. I think the approach is good enough for now. As you implied, browser instance per test would require a whole different approach.

[2017-12-04 11:29] #68 closed

[2017-12-04 11:34] axelpale commented on #69
The issue is still on. However as a workaround, I use webpack with [url-loader](https://github.com/webpack-contrib/url-loader) to preload static image files into the bundle as data URLs.

[2017-12-04 11:34] juliangruber commented on #69
The problem is that the electron integration currently doesn't work with the `static` option. That was a yet unknown issue, I'll fix it now.

[2017-12-04 11:34] juliangruber commented on #69
If you want to use browserify, you can also use brfs instead of the url-loader

[2017-12-04 11:37] axelpale commented on #69
@juliangruber Thanks, static files with electron would be very convenient. Great :)

[2017-12-04 11:54] #69 closed

[2017-12-04 11:54] juliangruber commented on #69
3.0.1

[2017-12-05 00:11] axelpale commented on #69
Works great! Returns also 404 for missing files, as it should. I am using it with webpack-tape-run. Thanks to your diligence, I predict a good future for this module! Good job.

[2017-12-13 20:17] refactorized commented on #48
just use tape-catch in place of tape - working for me so far without any additional changes.

[2017-12-17 17:52] juliangruber commented on #48
cool, closing here then :)

[2017-12-17 17:52] #48 closed

[2018-01-19 19:03] refactorized commented on #39
Are you piping to faucet or another tap processor?  Faucet will swallow console logs for instance.

[2018-01-21 16:02] juliangruber commented on #39
Closing for no response

[2018-01-21 16:02] #39 closed

[2018-09-20 23:14] TehShrike opened #71 "Errors on Travis"
Long shot here, but has anyone else had issues running tests with tape-run on Travis recently?

My newest project has been testing fine locally with tape-run, but [failing on Travis because of tape-run](https://travis-ci.org/TehShrike/idle-until-urgent/branches).

You can see my experiments in the [recent commits on this branch](https://github.com/TehShrike/idle-until-urgent/commits/poking-at-trav

[2018-09-21 06:09] juliangruber commented on #71
the readme is your friend :) https://github.com/juliangruber/tape-run#headless-testing--travis

[2018-09-21 06:09] #71 closed

[2018-09-21 16:55] TehShrike commented on #71
Oh man, I've used tape-run a dozen times on Travis before, how did I forget xvfb this time 😭 I wonder if Travis used to display a better error message or something

Thanks for your patience, I apologize for the annoyance!

[2018-09-25 08:58] ericmorand commented on #21
How would you use that inside an npm script?

[code]

Fails miserably.

[2018-09-25 09:01] juliangruber commented on #21
That works for me, please post your exact error in a new issue

[2018-09-25 09:06] ericmorand commented on #21
That's OK, sorry about that. I forgot to install `tap-spec`. (:ashamed:)

[2018-09-25 09:22] ericmorand opened #72 "Pipe to "tap-mocha-reporter" doesn't work"
I'm trying to have tape-run piping its result to `tap-mocha-reporter` to keep consistency with the rest of the test suite of my project. But it can't make it work whatever I try:

`browserify -t [ stringify --extensions [.html .twig] ] test/tests/integration/browser.js | tape-run | tap-mocha-reporter spec`

Works but the output lacks the actual/expected report - while it works if I pipe to `faucet

[2019-06-11 07:07] fergiemcdowall opened #74 "Doesn't work on Ubuntu 18.04"
`tape-run` fails silently on my Ubuntu 18.04 machine. However it works perfectly on other environments that I have tried.

I have tried fiddling around with the recipe described under "For gnu/linux installations without a graphical environment", but to no avail.

Any tips or magic incantations that might help?

[2019-06-11 09:44] juliangruber commented on #74
Hmm and there's no error message whatsoever? I'm sorry, that's bad experience. I don't have an Ubuntu machine at hand right now. Would it be possible for you to test on a _fresh_ Ubuntu 18.04 setup? Maybe something in your system configuration influences this.

Or is there someone else how can try to reproduce on their machine?

[2019-06-11 10:14] fergiemcdowall commented on #74
FWIW `browser-run` works fine on my Ubuntu 18.04

[code]

[2019-06-11 10:18] fergiemcdowall commented on #74
@juliangruber indeed! I really like `tape-run`, so I will continue to poke and prod it to try to get it to work on my setup.

[2019-06-12 07:28] fergiemcdowall commented on #74
Actually the very latest version `6.0.0` works perfectly on Ubuntu. I should of course have checked this before opening an issue!

Sorry for the complaints, and thanks for the great module!

[2019-06-12 07:28] #74 closed

[2019-06-17 08:33] juliangruber commented on #74
no worries, this happens!

[2019-07-03 18:55] heapwolf opened #75 "Outdated Deps?"
Are tape-run deps out of date?

[code]

[code]

[2019-07-04 09:36] juliangruber commented on #75
This actually works:

[code]

I'm assuming the `for await` isn't in the body of an async function itself?

[2019-07-04 17:45] heapwolf commented on #75
That would be my first guess, but it was inside this async function (i removed the `for await of` in favor of a while loop so i could supoprt returns). I still get issues, ie `SyntaxError: Unexpected token *`, but all this code runs fine in the browser.

[2019-07-04 17:48] heapwolf commented on #75
i deleted package-lock, that fixed it :-/

[2019-07-04 17:48] #75 closed

[2019-08-08 16:35] #46 closed

[2019-08-08 16:36] fregante commented on #62
Closing because it works as expected

[2019-08-08 16:36] #62 closed

[2019-08-08 16:39] fregante commented on #35
Closing as probably obsolete by now. Rollup has changed a lot since

[2019-08-08 16:39] #35 closed

[2019-08-29 14:03] lorenzofox3 opened #77 "internal/streams/legacy.js:59 unhandled stream error on pipe"
I have a small test program:
[code]

if I run ``browserify ./test/index.js | tape-run``

everything is fine.

However If I try to use a different browser, I keep having the same enigmatic error
[code]
with any of the following command

[code]

I am pretty sure the browsers are installed :) I am on MacOS 10.14.6

do you have any idea ?

Thanks !

[2019-09-02 12:46] bcomnes opened #78 "--node and --basedir appear to not be working"
Maybe I am mistaken here (still digging around), but the `--node` and `--basedir` flags are no longer working because tape-run sets the `loc` option in `electron-stream`, which disables these.

[2019-09-02 14:55] juliangruber commented on #78
These work in browser-run (https://github.com/juliangruber/browser-run/blob/master/test/electron.js), which this is just a wrapper of. Can you share a reproduction case? :)

[2019-09-02 14:57] bcomnes commented on #78
Yeah, sorry for the sparse details, let me whip something up.

[2019-10-30 06:01] KoryNunn opened #79 "Does not work in WSL"
Hey, I realise I can't provide much info but when I try tape-run on [WSL](https://docs.microsoft.com/en-us/windows/wsl/faq) it fails without any output. The identical setup works on ubuntu, and in travis ci.

Example of a repo that works everywhere but WSL: https://github.com/KoryNunn/scroll-into-view/

Example output from WSL:
[code]

If I had to guess it'd be because wsl runs fully headless, and

[2019-10-30 14:21] juliangruber commented on #79
I currently don't have access to a windows machine (my GPU is being repaired), so I'll try to guess debug this.

Could you try this suggestion? https://github.com/electron-userland/electron-prebuilt/issues/260

Also there's https://github.com/GoogleChrome/puppeteer/issues/1837

[2019-12-11 18:11] fregante commented on #77
Same as https://github.com/juliangruber/browser-run/issues/145

It's already fixed but we're waiting for a release https://github.com/substack/browser-launcher/pull/45

[2019-12-11 18:14] fregante commented on #79
I think this has to be fixed upstream in https://github.com/substack/browser-launcher

Do you mind testing that package an opening an issue there? The package explicitly supports Windows but there's no mention of WSL

[2019-12-15 06:40] KoryNunn commented on #79
Yep it doesn't detect a browser in WSL, i'll put an issue up there.

[2020-02-22 22:33] flekschas commented on #31
When I run `rollup -c ./rollup.test.config.js | tape-run | coverify` the output of `coverify` is always empty even though `tape-run` prints test results. Did something general change? I noticed that `tape-istanbul` also doesn't output anything.

[2020-02-24 11:13] juliangruber commented on #31
Did you include the coverify plugin in your rollup setup?

[2020-02-25 05:51] flekschas commented on #31
Oh nevermind, I guess it's not actually possible to use coverify in combination with rollup. My bad! :)

[2020-04-06 10:31] #77 closed

[2021-04-08 14:21] siosonel opened #82 "Use a more recent browser-run version to pass the no-sandbox option to electron-stream"
Related to https://github.com/juliangruber/electron-stream/pull/37, in order to use tape-run in a Docker container

[2021-04-09 07:00] juliangruber commented on #82
Updated browser-run, next is tape-run https://github.com/juliangruber/browser-run/releases/tag/v10.1.0

[2021-04-12 09:37] #82 closed

[2021-04-12 09:38] juliangruber commented on #82
https://github.com/juliangruber/tape-run/releases/tag/v9.0.0

[2021-10-29 23:53] nichoth opened #83 "option `--chrome` not working"
https://github.com/nichoth/wn-blob/blob/main/package.json

It returns 'no matches for chrome' even though chrome is installed

A test:
[code]

results:
[code]

[2021-11-01 20:54] juliangruber commented on #83
I assume that's on mac OS, right?

[2021-11-01 20:56] juliangruber commented on #83
I can reproduce this on my mac

[2021-11-01 20:58] juliangruber commented on #83
I think the fix is switching to https://github.com/juliangruber/just-launch, as browser-run has been unmaintained from time to time and with the new approach we can easily maintain individual browsers.

[2021-12-21 23:23] andrewvmail commented on #83
``` rm -rf ~/.config/browser-launcher/config.json ```

[2022-05-04 05:30] fergiemcdowall opened #84 "tape-run is triggering some dependabot alerts"
`tape-run@9.0.0` is currently triggering some dependabot alerts:

![image](https://user-images.githubusercontent.com/1122333/166627300-10c02e9a-af5b-4b32-a636-f82b6a33a51d.png)

[2022-05-04 07:28] juliangruber commented on #84
https://github.com/juliangruber/tape-run/releases/tag/v10.0.0 improves situation, however still includes outdated `minimist` (albeit unused) through `html-inject-script`

[2022-05-04 10:19] fergiemcdowall commented on #84
👍